body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../../assets/img/clearBlueSkies.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #149be9;
    color: white;
    position: fixed;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #0fd1a1;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}